<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.woyuce.activity">

    <!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!--<uses-permission android:name="android.permission.CAMERA" />-->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".Application.AppContext"
        android:allowBackup="false"
        android:icon="@mipmap/icon_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Act.WelcomeActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Act.LoginActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan" />
        <!--<activity-->
        <!--android:name=".Activity.LoginForgetActivity"-->
        <!--android:launchMode="standard"-->
        <!--android:screenOrientation="portrait" />-->
        <activity
            android:name=".Act.LoginResetActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Act.LoginRegisterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Act.LoginRegisterInfoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Act.MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />

        <!-- Tab1 -->
        <!-- 第一模块 口语高频 的Activity -->
        <activity
            android:name=".Act.SpeakingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Act.SpeakingDetailActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Act.SpeakingShare1Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Act.SpeakingChooseRoomActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/dialogActivity" />
        <activity
            android:name=".Act.SpeakingShare2Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Act.SpeakingShare3Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Act.SpeakingShare4Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Act.SpeakingStatisActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Act.SpeakingMoreActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Act.SpeakingContentActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Act.SpeakingSearchActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Act.SpeakingVoteActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/dialogActivity" />

        <!-- 第二模块 免费范围/笔试预测 的Activity -->
        <activity
            android:name=".Act.FreeRangeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Act.FreeLessonActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Act.FreeBookActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Act.FreePageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Act.FreeContentActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <!-- 第三模块公益课堂 的Activity -->
        <activity
            android:name=".Act.GongyiActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Act.GongyiLessonActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Act.GongyiContentActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <!-- 第四模块网络班专属 的Activity -->
        <activity
            android:name=".Act.NetClassActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Act.NetClassLessonActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 第五模块 写作题库 的Activity -->
        <activity
            android:name=".Act.WitActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Act.WitSubcategoryActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Act.WitSearchActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Act.WitContentActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <!-- Tab3 -->
        <activity
            android:name=".Act.WeiboPublishActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Act.WeiboAlbumActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Act.WeiboAlbumDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Act.WeiboInfoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Act.WeiboGroupActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- Tab5 -->
        <activity android:name=".Act.StoreHomeActivity" />
        <activity android:name=".Act.StoreGoodsActivity" />
        <activity android:name=".Act.StoreCarActivity" />
        <activity android:name=".Act.StorePayActivity" />
        <activity android:name=".Act.StoreAddressActivity" />
        <activity android:name=".Act.StoreAddAddressActivity" />
        <activity android:name=".Act.StoreOrderActivity" />
        <activity android:name=".Act.StoreOrderListActivity" />

        <!-- 意见反馈Activity -->
        <activity
            android:name=".Act.SuggestionActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <!-- 关于我们Activity -->
        <activity
            android:name=".Act.AboutUsActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <!-- 客服Activity -->
        <activity
            android:name=".Act.CustomServiceActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <!-- WebView专用Activity -->
        <activity
            android:name=".Act.WebActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Act.WebNoCookieActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <service
            android:name=".Services.UpdateService"
            android:screenOrientation="portrait" />

        <!--AliPay-->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />

        <!-- MOB分享 -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <!-- QQ和QQ空间分享 QQ登录的回调必须要配置的 -->
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 新浪微博客户端分享回调必须配置 -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 微信分享回调 -->
        <activity
            android:name="cn.sharesdk.onekeyshare.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 友盟参数 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5396699556240b03bc0906ff" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="3cc35e8cbe9af08237dcc6c9f2e5fc79"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="update" />

    </application>

</manifest>