<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.woyuce.activity">

    <!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- <uses-permission android:name="android.permission.CAMERA" /> -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".AppContext"
        android:allowBackup="false"
        android:icon="@mipmap/icon_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Controller.WelcomeActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Controller.Login.LoginActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan" />
        <!-- <activity -->
        <!-- android:name=".Activity.LoginForgetActivity" -->
        <!-- android:launchMode="standard" -->
        <!-- android:screenOrientation="portrait" /> -->
        <activity
            android:name=".Controller.Login.LoginResetActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Controller.Login.LoginRegisterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Controller.Login.LoginRegisterInfoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity android:name=".Controller.Login.Third.LoginThirdChoiceActivity" />
        <activity android:name=".Controller.Login.Third.LoginBindNew" />
        <activity android:name=".Controller.Login.Third.LoginRegisterThirdActivity" />
        <activity
            android:name=".Controller.Main.MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />

        <!-- Tab1 -->
        <!-- 第一模块 口语高频 的Activity -->
        <activity
            android:name=".Controller.Speaking.SpeakingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Controller.Speaking.SpeakingDetailActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Controller.Speaking.SpeakingShare1Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Controller.Speaking.SpeakingChooseRoomActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/dialogActivity" />
        <activity
            android:name=".Controller.Speaking.SpeakingShare2Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Controller.Speaking.SpeakingShare3Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Controller.Speaking.SpeakingShare4Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Controller.Speaking.SpeakingStatisActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Controller.Speaking.SpeakingMoreActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Controller.Speaking.SpeakingContentActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Controller.Speaking.SpeakingSearchActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Controller.Speaking.SpeakingVoteActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/dialogActivity" />

        <!-- 第二模块 免费范围/笔试预测 的Activity -->
        <activity
            android:name=".Controller.Free.FreeRangeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Controller.Free.FreeLessonActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Controller.Free.FreeBookActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Controller.Free.FreePageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Controller.Free.FreeContentActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <!-- 第三模块公益课堂 的Activity -->
        <activity
            android:name=".Controller.OpenClass.OpenTypeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Controller.OpenClass.OpenLessonActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Controller.OpenClass.OpenContentActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <!-- 第四模块网络班专属 的Activity -->
        <activity
            android:name=".Controller.Free.Net.NetClassActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Controller.Free.Net.NetClassLessonActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 第五模块 写作题库 的Activity -->
        <activity
            android:name=".Controller.Writting.WitActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Controller.Writting.WitSubcategoryActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Controller.Writting.WitSearchActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Controller.Writting.WitContentActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <!-- Tab3 -->
        <!-- <activity -->
        <!-- android:name=".Act.WeiboPublishActivity" -->
        <!-- android:launchMode="singleTop" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- <activity -->
        <!-- android:name=".Act.WeiboAlbumActivity" -->
        <!-- android:launchMode="singleTop" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- <activity -->
        <!-- android:name=".Act.WeiboAlbumDetailActivity" -->
        <!-- android:launchMode="singleTop" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- <activity -->
        <!-- android:name=".Act.WeiboInfoActivity" -->
        <!-- android:launchMode="singleTop" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- <activity -->
        <!-- android:name=".Act.WeiboGroupActivity" -->
        <!-- android:launchMode="singleTop" -->
        <!-- android:screenOrientation="portrait" /> -->


        <!-- Tab5 -->
        <activity
            android:name=".Controller.Store.StoreGoodsActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Controller.Store.StoreCartActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Controller.Store.StorePayActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Controller.Store.StoreAddressActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Controller.Store.StoreAddAddressActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Controller.Store.StoreOrderActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Controller.Store.StoreOrderListActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Controller.Store.StoreCommentActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Controller.Store.ShowImageActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <!-- 意见反馈Activity -->
        <activity
            android:name=".Controller.Mine.SuggestionActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <!-- 关于我们Activity -->
        <activity
            android:name=".Controller.Mine.AboutUsActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <!-- 客服Activity -->
        <activity
            android:name=".Controller.Mine.CustomServiceActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <!-- WebView专用Activity -->
        <activity
            android:name=".Controller.WebActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Controller.WebNoCookieActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Controller.WebGetPushActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <service
            android:name=".Services.UpdateService"
            android:screenOrientation="portrait" />

        <!-- AliPay -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />

        <!-- WxPay -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/dialogActivity" />

        <!-- MOB分享 -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <!-- QQ和QQ空间分享 QQ登录的回调必须要配置的 -->
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 新浪微博客户端分享回调必须配置 -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 友盟参数 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5396699556240b03bc0906ff" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="3cc35e8cbe9af08237dcc6c9f2e5fc79" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${umeng_channel}" />
    </application>

</manifest>